<div>
    <h1 class="real-title">Real Time products</h1>
    <div class="real-time-form">
        <form id="formProducts" method="post" action="/realtimeproducts">
            <label for="productTitle">Titulo:</label>
            <input type="text" placeholder="Titulo del producto" name="title" id="productTitle" />
            <label for="productDescription">Descripcion:</label>
            <textarea type="text" rows="10" placeholder="Descripcion del producto" name="description"
                id="productDescription"></textarea>
            <label for="productCategory">Categoría producto: </label>
            <input type="text" placeholder="Categoría del producto" name="category" id="productCategory">
            <label for="productPrice">Precio: </label>
            <input type="number" placeholder="Precio del producto" name="price" id="productPrice">
            <label for="productCode">Codigo Producto</label>
            <input type="text" placeholder="Codigo del producto" name="code" id="productCode">
            <label for="productStock">Stock:</label>
            <input type="number" placeholder="cantidad en stock" name="stock" id="productStock">
            <label for="productThumbnails">Imagenes:</label>
            <input type="text" placeholder="URL de la imagen" name="thumbnails" id="productThumbnails">
            <button type="submit">Agregar</button>
        </form>
    </div>
    <div class="container-shop">
        <h1 class="shop-title">Products</h1>
        <ul class="list-container">
            {{#each products}}
            <li class="item-card" id={{code}}>
                <img src={{this.thumbnails}} alt={`Imagen del producto {{title}}`} />
                <div>
                    <h4>{{title}}</h4>
                    <p class="subtitle">{{description}}</p>
                    <p>USD <span>{{price}}</span></p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>{{!-- /script de socket para poder utilizarlo del lado del cliente. --}}
<script src="./js/script.js"></script>